<!-- app/view/monthdata.html -->
<html>

    <head>
        <title>monthdata.html</title>
        <style>
            html,
            body {
                width: 100%;
                margin: 0%;
                padding: 0%;
            }
        </style>
    </head>
    <script src="../public/js/jQuery/jquery.min.js"></script>

    <body>
        <input id="month7" name="month" type="checkbox" value="7"/>
        <label for="month7">7月</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="month8" name="month" type="checkbox" value="8"/>
        <label for="month8">8月</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="month9" name="month" type="checkbox" value="9"/>
        <label for="month9">9月</label>&nbsp;&nbsp;&nbsp;&nbsp;
    </body>

</html>
<script type="text/javascript">

</script>