<!-- app/view/monthdata.html -->
<html>

    <head>
        <title>monthdata.html</title>
        <style>
            html,
            body {
                width: 100%;
                margin: 0%;
                padding: 0%;
            }
        </style>
    </head>
    <script src="../public/js/jQuery/jquery.min.js"></script>

    <body>
        <div>
            <input id="month7" name="month" type="checkbox" value="7" />
            <label for="month7">7月</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="month8" name="month" type="checkbox" value="8" />
            <label for="month8">8月</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="month9" name="month" type="checkbox" value="9" />
            <label for="month9">9月</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="Monthdata()">计算</button>
        </div>
        <div></div>
    </body>

</html>
<script type="text/javascript">
    function Monthdata() {
        let month = []
        $("input[name=month]:checked").each(function () {
            month.push(this.value)
        })

        $.ajax({
            url: '/monthdata/monthdata',
            type: 'get',
            data: { "months": month.join(",") },
            headers: {
                // 前后端不分离的情况加每次打开客户端，egg会直接在客户端的 Cookie 中写入密钥 ，密钥的 Key 就是 'scrfToken' 这个字段，所以直接获取就好了
                'x-csrf-luosu-token': getCookie("csrfToken"),
            },
            dataType: "json",
            success: function (result) {

            }
        })
        alert(month.join(","))
    }
</script>